In [1]:
import pandas as pd

In [2]:
df_event = pd.read_csv("Dataset/events.csv")
df_event.head()

,id_odsp,id_event,sort_order,time,text,event_type,event_type2,side,event_team,opponent,...,player_in,player_out,shot_place,shot_outcome,is_goal,location,bodypart,assist_method,situation,fast_break
0,UFot0hit/,UFot0hit1,1,2,Attempt missed. Mladen Petric (Hamburg) left f...,1,12.0,2,Hamburg SV,Borussia Dortmund,...,NaN,NaN,6.0,2.0,0,9.0,2.0,1,1.0,0
1,UFot0hit/,UFot0hit2,2,4,"Corner, Borussia Dortmund. Conceded by Dennis...",2,NaN,1,Borussia Dortmund,Hamburg SV,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
2,UFot0hit/,UFot0hit3,3,4,"Corner, Borussia Dortmund. Conceded by Heiko ...",2,NaN,1,Borussia Dortmund,Hamburg SV,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
3,UFot0hit/,UFot0hit4,4,7,Foul by Sven Bender (Borussia Dortmund).,3,NaN,1,Borussia Dortmund,Hamburg SV,...,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,0
4,UFot0hit/,UFot0hit5,5,7,Gokhan Tore (Hamburg) wins a free kick in the ...,8,NaN,2,Hamburg SV,Borussia Dortmund,...,NaN,NaN,NaN,NaN,0,2.0,NaN,0,NaN,0

In [5]:
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941009 entries, 0 to 941008
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_odsp        941009 non-null  object
 1   id_event       941009 non-null  object
 2   sort_order     941009 non-null  int64
 3   time           941009 non-null  int64
 4   text           941009 non-null  object
 5   event_type     941009 non-null  int64
 6   event_type2    214293 non-null  float64
 7   side           941009 non-null  int64
 8   event_team     941009 non-null  object
 9   opponent       941009 non-null  object
 10  player         880009 non-null  object
 11  player2        291310 non-null  object
 12  player_in      51715 non-null   object
 13  player_out     51738 non-null   object
 14  shot_place     227459 non-null  float64
 15  shot_outcome   228498 non-null  float64
 16  is_goal        941009 non-null  int64
 17  location       467067 non-null  float64
 18  bodypart       229185 non-null  float64
 19  assist_method  941009 non-null  int64
 20  situation      229137 non-null  float64
 21  fast_break     941009 non-null  int64
dtypes: float64(6), int64(7), object(9)
memory usage: 157.9+ MB

In [10]:
df_ginf = pd.read_csv("Dataset/ginf.csv")
df_ginf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10112 entries, 0 to 10111
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_odsp    10112 non-null  object
 1   link_odsp  10112 non-null  object
 2   adv_stats  10112 non-null  bool
 3   date       10112 non-null  object
 4   league     10112 non-null  object
 5   season     10112 non-null  int64
 6   country    10112 non-null  object
 7   ht         10112 non-null  object
 8   at         10112 non-null  object
 9   fthg       10112 non-null  int64
 10  ftag       10112 non-null  int64
 11  odd_h      10112 non-null  float64
 12  odd_d      10112 non-null  float64
 13  odd_a      10112 non-null  float64
 14  odd_over   977 non-null    float64
 15  odd_under  977 non-null    float64
 16  odd_bts    977 non-null    float64
 17  odd_bts_n  977 non-null    float64
dtypes: bool(1), float64(7), int64(3), object(7)
memory usage: 1.3+ MB

In [8]:
leagues = {'E0': 'Premier League', 'SP1': 'La Liga', 'I1': 'Serie A', 'F1': 'League One', 'D1': 'Bundesliga'}
event_types = {1:'Intento', 2:'Corner', 3:'Falta', 4:'Tarjeta amarilla', 5:'Segunda tarjeta amarilla', 6:'Tarjeta roja', 7:'Cambio jugador', 8:'Tiro libre ganado', 9:'Posicion adelantada', 10:'Lateral', 11:'Penal'}
event_types2 = {12:'Pase clave', 13:'Pase fallado', 14:'ExpulsiÃ³n', 15:'Gol encontra'}
sides = {1:'Local', 2:'visitante'}
shot_places = {1:'Tiro alto', 2:'Bloqueado', 3:'Corner inf. izq.', 4:'Corner inf. der.', 5:'Circulo del medio', 6:'Laterales', 7:'Golpea barrera', 8:'Falla a la izq.', 9:'Falla a la der.', 10:'Demasiado alto', 11:'Centro sup. de la porteria', 12:'Corner sup. izq.', 13:'Corner sup. der.'}
shot_outcomes = {1:'Al arco', 2:'Fuera del arco', 3:'Bloqueado', 4:'Golpea barrera'}
locations = {1:'Medio atacante', 2:'Medio defensivo', 3:'Centro del area', 4:'A la izq.', 5:'A la der.', 6:'Angulo dificil y largo alcance', 7:'Angulo dificil a la izq.', 
             8:'Angulo dificil a la der.', 9:'Lado izq. de area', 10:'Lado izq. de area a 5.5m', 11:'Lado der. de area', 12:'Lado der. de area a 5.5m', 
             13:'Rango muy cercano', 14:'Penal atajado', 15:'Fuera del area', 16:'De largo alcance', 17:'Mas de 32m', 18:'Mas de 36.6m', 19:'No registrado'}

bodyparts = {1:'Pie izq.', 2:'Pie der.', 3:'Cabeza'}
assist_methods = {1:'Pase', 2:'Cruzado', 3:'Pase de cabeza', 4:'Pase en profundidad'}
situations = {1:'Inicio de jugada', 2:'Pelota parada', 3:'Corner', 4:'Tiro libre'}

In [9]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [11]:
missing_values_table(df_event)

Your selected dataframe has 22 columns.
There are 10 columns that have missing values.

              Missing Values  % of Total Values
player_in             889294               94.5
player_out            889271               94.5
event_type2           726716               77.2
shot_place            713550               75.8
shot_outcome          712511               75.7
situation             711872               75.6
bodypart              711824               75.6
player2               649699               69.0
location              473942               50.4
player                 61000                6.5

In [13]:
# Remplazar los vacios con desconocido 'unknown'

df_event.player.fillna('UNK', inplace= True)
df_event.location.fillna('UNK', inplace= True)
df_event.player2.fillna('UNK', inplace= True)
df_event.bodypart.fillna('UNK', inplace= True)
df_event.situation.fillna('UNK', inplace= True)
df_event.shot_outcome.fillna('UNK', inplace= True);

In [14]:
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941009 entries, 0 to 941008
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_odsp        941009 non-null  object
 1   id_event       941009 non-null  object
 2   sort_order     941009 non-null  int64
 3   time           941009 non-null  int64
 4   text           941009 non-null  object
 5   event_type     941009 non-null  int64
 6   event_type2    214293 non-null  float64
 7   side           941009 non-null  int64
 8   event_team     941009 non-null  object
 9   opponent       941009 non-null  object
 10  player         941009 non-null  object
 11  player2        941009 non-null  object
 12  player_in      51715 non-null   object
 13  player_out     51738 non-null   object
 14  shot_place     227459 non-null  float64
 15  shot_outcome   941009 non-null  object
 16  is_goal        941009 non-null  int64
 17  location       941009 non-null  object
 18  bodypart       941009 non-null  object
 19  assist_method  941009 non-null  int64
 20  situation      941009 non-null  object
 21  fast_break     941009 non-null  int64
dtypes: float64(2), int64(7), object(13)
memory usage: 157.9+ MB